%head
  - if page_is == "article"
    %script{ async: "async", src:"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    %script
      (adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-1450797906502024",enable_page_level_ads: true});

  %meta{ charset: "utf-8" }
  %meta{ http: { equiv: 'X-UA-Compatible' }, content: 'IE=edge;chrome=1' }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
  %meta{ name: "description", content: "フロントエンドエンジニアのmoyashiが綴る技術ブログ。業界歴は1年の初学者。現在Ruby on Railsも勉強中。"}

  - if page_is == "top"
    %title _blank || top

  - elsif page_is == "article"
    %title= "_blank || #{current_page.data.title}"
    = stylesheet_link_tag "article"
    = stylesheet_link_tag "markdown-highlights"

  - elsif page_is == "books"
    %title= "_blank || books"
    = stylesheet_link_tag "books"

  = stylesheet_link_tag "reset"
  = stylesheet_link_tag "common"
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"
  %script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92731242-1', 'auto');
    ga('send', 'pageview');
